#parent {
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      margin: auto;
}

header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #006402;
}

header img {
      max-height: 5rem;
}

#main-grid {
      display: grid;
      grid-template-rows: 1fr auto;
      grid-template-columns: 1fr 4fr 1fr;
      grid-template-areas:
            ". m ."
            "f f f";
      grid-row-gap: 1rem;
      padding-top: 7rem;
}

main {
      grid-area: m;
      place-items: center;
      display: flex;
      flex-direction: column;
}

.email {
      text-align: center;
}

.button {
      margin-top: 0.5rem;
      background: #006402;
      font-size: 0.9rem;
      color: white;
      border: 0;
      border-radius: 0.2rem;
      width: 5rem;
      height: 2rem;
}

#prod_description {
      display: grid;
      grid-gap: 1rem;
      grid-template: 1fr 1fr 1fr / auto 1fr;
      grid-template-areas:
            "i1 d"
            "i2 d"
            "i3 d";
      align-items: center;
}

.icons {
      width: 6rem;
}

#icon1 {
      grid-area: i1;
}

#icon2 {
      grid-area: i2;
}

#icon3 {
      grid-area: i3;
}

#video-section {
      display: flex;
      justify-content: center;
      margin-top: 2rem;
}

#video {
      border: 0;
}

#products {
      margin-top: 3rem;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      text-align: center;
}

.product {
      border: 0.4rem solid #215F1E;
      border-radius: 0.5rem;
      padding: 2rem;
      margin: 0 0.5rem;
      flex-basis: 7rem;
}

footer {
      grid-area: f;
}

@media (max-width: 768px) {
      #products {
            flex-direction: column;
            align-items: center;
      }

      #products {
            margin-top: 2rem;
      }

      .product {
            margin-top: 1rem;
      }

      iframe {
            max-width: 560px;
            width: 100%;
      }
}